
{{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span></h1>
{{else}}
    <h1>Todos os Pensamentos</h1>
{{/if}}

<form action="/toughts/search-tought-all" method="post" class="d-flex align-items-center">
    <div class="form-control">
        <input type="text" id="search" name="search" placeholder="Buscar..." value="{{search}}">
    </div>
    <input type="submit" value="Buscar">
</form>



<ul id="toughts">
    {{#each toughts}}
        <li>
            <h3>{{this.dataValues.title}}</h3>
            <p>{{this.User.dataValues.name}}</p>
        </li>
    {{/each}}
</ul>

