
<form action="/users/update" method="post" class="form">
    <h1>Adicione Usuário</h1>
    <input type="hidden" value="{{user.id}}" name="id">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário" value="{{user.name}}">
    </div>

    <div class="form-control">
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" placeholder="Digite a profissão do usuário" value="{{user.occupation}}">
    </div>

    <div class="form-control form-checkbox">
        {{#if user.newsletter}}
        <input type="checkbox" name="newsletter" checked>
        {{else}}
        <input type="checkbox" name="newsletter">
        {{/if}}
        <label for="newsletter">Enviar Promoções?</label>
    </div>
    <input type="submit" value="Atualizar usuário">
</form>

<div class="address-container">
    {{#each address}}
        <div class="container">
            <h3>Rua:</h3>
            <p>{{this.street}}</p>
            <h3>Número:</h3>
            <p>{{this.number}}</p>
            <h3>Cidade:</h3>
            <p>{{this.city}}</p>
        </div>
    {{/each}}


    <form action="/address/create" method="post" class="form">
        <h2>Endereços:</h2>
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">Rua:</label>
            <input type="text" name="street" id="street">
        </div>
        <div class="form-control">
            <label for="number">Número:</label>
            <input type="text" name="number" id="number">
        </div>
        <div class="form-control">
            <label for="city">Cidada:</label>
            <input type="text" name="city" id="city">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>